.contact-form {
  padding: 40px 20px;
  background-color: transparent;
}
.contact-text h1 {
  font-size: 20px;
  font-weight: 600;
}
.contact-form ::placeholder {
  color: black;
}
.contact-form input {
  background-color: transparent;
  color: black;
}
.contact-form input:focus {
  background-color: transparent;
  color: black;
}
.contact-form .form-control {
  border: 1px solid #003ea3;
}
.contact-form button {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .contact-text h1 {
    font-size: 16px;
  }
  .contact-form button {
    margin-top: 15px;
  }
}
