.logo-area {
  font-family: "Berkshire Swash", cursive;
  font-weight: 400;
  position: relative;
}
.logo-area::after {
  position: absolute;
  content: "Lucky Enterprise";
  color: black;
  font-size: 16px;
  top: 15px;
  right: -108px;
}
.logo-area::before {
  position: absolute;
  content: "Foundation of Innovation";
  color: black;
  font-size: 12px;
  left: 93px;
  bottom: 2px;
}
@media (max-width: 991px) {
  .logo-area::after {
    font-size: 14px;
    top: 19px;
    right: -95px;
  }
  .logo-area::before {
    font-size: 12px;
    left: 88px;
    bottom: 2px;
  }
}
