.login-area {
  padding: 100px 0;
  font-family: "Open Sans", sans-serif;
  min-height: calc(100vh - 159px);
}
.login-area h2 {
  margin-bottom: 0;
}
.reg-link {
  color: blue !important;
  padding: 10px !important;
  display: inline-block !important;
}
.login-area button {
  padding: 10px 40px;
  text-align: center;
  border-radius: 4px;
  width: 100%;
}
