.theme-button {
  background: #003ea3 !important;
  text-align: center;
  font-size: 18px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 11px !important;
  min-width: 120px !important;
}
.theme-button:hover {
  background: #0958d6 !important;
}
.common-icon {
  margin-left: 6px;
}
/* Breakpoint Css */
@media (max-width: 991px) {
  .theme-button {
    font-size: 12px;
    padding: 8px 16px;
  }
}
