.banner-area {
  font-family: "Open Sans", sans-serif;
}
.banner-area .carousel-caption {
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 14px;
}
.banner-area .carousel-caption h2 {
  color: #fff;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 100px;
}
.banner-area .carousel-caption h2 {
  font-size: 42px;
  margin-bottom: 8px;
}
.carousel-indicators {
  margin-bottom: 2px !important;
}
.banner-area .carousel-caption p {
  font-size: 20px;
}
.arrow-icon {
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: arrow-bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Breakpoint Css */
@media (max-width: 991px) {
  .banner-area .carousel-caption {
    font-weight: 400;
    margin-bottom: 6px;
  }
  .banner-area .carousel-caption h2 {
    font-size: 20px;
  }
  .banner-area .carousel-caption h2 {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .banner-area .carousel-caption p {
    font-size: 15px;
  }
}
@media (max-width: 426px) {
  .banner-area .carousel-caption {
    margin-bottom: -24px;
  }
  .banner-area .carousel-caption h2 {
    font-size: 10px;
  }
  .banner-area .carousel-caption h2 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .banner-area .carousel-caption p {
    font-size: 12px;
  }
  .theme-button {
    display: none;
  }
  .arrow-icon {
    display: none;
  }
}
